.images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 10px;
}

.image {
  padding: 2px;
  width: 100%;
}
